/* Page
  Includes the set margins and total max width for all the sections. Add own margins or padding if you dont want this.
*/

.page {
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Inter", Arial, sans-serif;
}